{{ partial "header.html" . }}

{{ range first 1 (where .Pages "Section" "post") }}
<div class="container">
  <div class="left">
    <h1># Latest blog posts</h1>
    {{ range (.Paginator 5).Pages }}
    <h2>## <a href={{ .Permalink }}>{{ .Title }}</a></h2>
    {{ end }}
    <a href="/post/">View all posts...</a>
  </div>
  <div class="right">
    <img id="logo" src="/img/minilogo.png"/>
    <br>
    <h1>The joy of programming</h1>

    <p>A tiny scrapbook for ideas on software development.</p>
  </div>
</div>
{{ end }}

{{ partial "footer.html" . }}
