{{ partial "header.html" . }}

<img id="logo" src="/img/minilogo.png"/>
<br>
<h1>The joy of programming</h1>

{{ range first 10 .Data.Pages }}
<h1>## <a href={{ .Permalink }}>{{ .Title }}</a></h1>
{{ end }}

{{ partial "footer.html" . }}
