<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <topbar>
        <span><a href="/">Joy.pm</a>
        </span><span>About</span>
        <span><a href="post/index.xml">RSS</a></span>
      </topbar>
    </header>

    {{ template "partials/cookies_warning.html" }}
    {{ template "partials/matomo.html" }}
