<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <topbar>
        <span><a href="/">Joy.pm</a></span>
        <span><a href="/about">About</a></span>
        <span><a href="/projects">Projects</a></span>
        <span><a href="/index.xml">RSS</a></span>
        <span><a href="https://github.com/rafadc"><i class="fab fa-github"></i></a></span>
        <span><a href="https://twitter.com/rafadc"><i class="fab fa-twitter"></i></a></span>
        <span><a rel="me" href="https://mastodon.xyz/@rafadc"><i class="fab fa-mastodon"></i></a></span>
      </topbar>
    </header>

    {{ template "partials/cookies_warning.html" }}
    {{ template "partials/ackee.html" }}
