{{ $baseurl := .Site.BaseURL }}

{{ template "partials/cookies_warning.html" }}
{{ template "partials/google_analytics.html" }}

<main role="main" class="homepage">

  {{ partial "hero.html" . }}

  <div class="article-list">
    {{ range (.Paginator 8).Pages }}
    {{ partial "article-list-item.html" . }}
    {{ end }}
  </div>

  {{ template "partials/pagination.html" . }}

  {{ with .Site.Taxonomies.categories }}

  <h1 class="headline">Categories</h1>

  <section class="categories">
    {{ range $name, $value := . }}
    <h2 class="category">
      <a href="{{ $baseurl }}categories/{{ $name | urlize }}">{{ title $name }}</a>
      <small>({{ .Count }})</small>
    </h2>
    {{ end }}
  </section>

  {{ end }}

  {{ with .Site.Taxonomies.tags }}

  <h1 class="headline">Tags</h1>

  <section class="tags">
    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

  {{ end }}

</main>
