{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination">
  <nav role="pagination" class="post-list-pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{.Paginator.Prev.URL}}" class="path post-list-pagination-item pure-button post-list-pagination-item-prev">
      <i class="fa fa-angle-double-left"></i>&nbsp;Newer
    </a>
    {{ end }}
    <span class="path post-list-pagination-item post-list-pagination-item-current">Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}</span>
    {{ if .Paginator.HasNext }}
    <a href="{{.Paginator.Next.URL}}" class="path post-list-pagination-item pure-button post-list-pagination-item-next">
      Older&nbsp;<i class="fa fa-angle-double-right"></i>
    </a>
    {{ end }}
  </nav>
</div>
{{ end }}
