body {
    background-color: #222222;
    color: #ffb300;
    font-family: 'Overpass Mono', monospace;
    padding: 20px 60px;
    line-height: 1.7em;
}

h1 {
    color: #98be65;
    font-size: 1.2em;
}

h2 {
    color: #ff6c6b;
    font-size: 1.1em;
}

a {
    color: #ffb300;
}

img {
    max-width: 100%;
}

#logo {
    width: 25%;
}
